@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);

    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--light-grey);
}

input {
    font-size: 32px;
}

.container {
    background-color: var(--white);
    padding: 2em;
}

.age-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

form p {
    font-weight: 600;
    color: var(--smokey-grey);
    letter-spacing: 2px;
    margin-bottom: .5em;
    text-transform: uppercase;
}

form input {
    border-radius: 5px;
    border: var(--light-grey) 1.75px solid;
    padding: .25em .50em;
}

form button {
    background-color: var(--purple);
    border: none;
    padding: 1.25em;
    border-radius: 50%;
}
